# PX action of equity + etfs

In [2]:
import requests

url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=1QAPY627ICJSPO8R'

r = requests.get(url)

In [3]:
data = r.json()
print(data)

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume', '2. Symbol': 'IBM', '3. Last Refreshed': '2025-11-13 19:55:00', '4. Interval': '5min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (5min)': {'2025-11-13 19:55:00': {'1. open': '304.8600', '2. high': '305.0000', '3. low': '304.8600', '4. close': '305.0000', '5. volume': '100'}, '2025-11-13 19:50:00': {'1. open': '305.2000', '2. high': '305.2000', '3. low': '304.8726', '4. close': '304.8726', '5. volume': '90'}, '2025-11-13 19:45:00': {'1. open': '305.1900', '2. high': '305.2000', '3. low': '305.0000', '4. close': '305.2000', '5. volume': '19'}, '2025-11-13 19:40:00': {'1. open': '305.1900', '2. high': '305.1900', '3. low': '305.0000', '4. close': '305.1900', '5. volume': '32'}, '2025-11-13 19:35:00': {'1. open': '305.1900', '2. high': '305.2000', '3. low': '304.6358', '4. close': '304.6358', '5. volume': '50'}, '2025-11-13 19:30:00': {'1. open': '305.0375', '2. high': '305.2000', '3. low': '304.5500', '4. close': '305.1900', '5. volume': '236'}, '2025-11-13 19:25:00': {'1. open': '305.0384', '2. high': '305.2000', '3. low': '305.0000', '4. close': '305.0000', '5. volume': '58'}, '2025-11-13 19:20:00': {'1. open': '305.0200', '2. high': '305.2000', '3. low': '305.0100', '4. close': '305.1999', '5. volume': '56'}, '2025-11-13 19:15:00': {'1. open': '305.1800', '2. high': '305.2000', '3. low': '305.0100', '4. close': '305.0100', '5. volume': '1023'}, '2025-11-13 19:10:00': {'1. open': '305.1000', '2. high': '305.2000', '3. low': '304.6358', '4. close': '305.0100', '5. volume': '71'}, '2025-11-13 19:00:00': {'1. open': '304.8600', '2. high': '305.2300', '3. low': '304.8600', '4. close': '305.2200', '5. volume': '1311098'}, '2025-11-13 18:55:00': {'1. open': '305.3000', '2. high': '305.3000', '3. low': '305.0000', '4. close': '305.2500', '5. volume': '3'}, '2025-11-13 18:50:00': {'1. open': '305.9457', '2. high': '305.9457', '3. low': '305.0100', '4. close': '305.0100', '5. volume': '18'}, '2025-11-13 18:45:00': {'1. open': '305.0300', '2. high': '305.8827', '3. low': '305.0000', '4. close': '305.2500', '5. volume': '35'}, '2025-11-13 18:40:00': {'1. open': '304.6300', '2. high': '305.2500', '3. low': '304.6300', '4. close': '305.2500', '5. volume': '811'}, '2025-11-13 18:35:00': {'1. open': '305.2300', '2. high': '305.2300', '3. low': '305.2300', '4. close': '305.2300', '5. volume': '30'}, '2025-11-13 18:30:00': {'1. open': '304.8600', '2. high': '305.9700', '3. low': '304.8000', '4. close': '305.9700', '5. volume': '1310988'}, '2025-11-13 18:25:00': {'1. open': '304.9400', '2. high': '305.9700', '3. low': '304.5800', '4. close': '304.5800', '5. volume': '112'}, '2025-11-13 18:20:00': {'1. open': '304.6000', '2. high': '304.9400', '3. low': '304.5760', '4. close': '304.9400', '5. volume': '382'}, '2025-11-13 18:15:00': {'1. open': '305.9700', '2. high': '305.9700', '3. low': '304.5600', '4. close': '304.5700', '5. volume': '71'}, '2025-11-13 18:10:00': {'1. open': '304.5836', '2. high': '305.0000', '3. low': '304.5600', '4. close': '304.5600', '5. volume': '819'}, '2025-11-13 18:05:00': {'1. open': '304.9200', '2. high': '304.9900', '3. low': '304.6087', '4. close': '304.8800', '5. volume': '60'}, '2025-11-13 18:00:00': {'1. open': '304.9900', '2. high': '304.9900', '3. low': '304.8800', '4. close': '304.8800', '5. volume': '3'}, '2025-11-13 17:55:00': {'1. open': '304.8500', '2. high': '304.9500', '3. low': '304.6000', '4. close': '304.8600', '5. volume': '79'}, '2025-11-13 17:50:00': {'1. open': '304.5900', '2. high': '304.8800', '3. low': '304.5900', '4. close': '304.8500', '5. volume': '596'}, '2025-11-13 17:45:00': {'1. open': '304.8500', '2. high': '304.8800', '3. low': '304.5603', '4. close': '304.5900', '5. volume': '100'}, '2025-11-13 17:40:00': {'1. open': '304.5900', '2. high': '304.8800', '3. low': '304.5600', '4. close': '304.5700', '5. volume': '123'}, '2025-11-13 17:35:00': {'1. open': '304.8368', '2. high': '304.8368', '3. low': '304.4000', '4. close': '304.4000', '5. volume': '20'}, '2025-11-13 17:30:00': {'1. open': '304.8600', '2. high': '304.8800', '3. low': '304.8002', '4. close': '304.8700', '5. volume': '210'}, '2025-11-13 17:25:00': {'1. open': '304.5800', '2. high': '304.8600', '3. low': '304.3500', '4. close': '304.8300', '5. volume': '634'}, '2025-11-13 17:20:00': {'1. open': '304.4300', '2. high': '304.9900', '3. low': '304.4300', '4. close': '304.8800', '5. volume': '70'}, '2025-11-13 17:15:00': {'1. open': '304.8600', '2. high': '305.0000', '3. low': '304.3000', '4. close': '305.0000', '5. volume': '170'}, '2025-11-13 17:10:00': {'1. open': '304.2000', '2. high': '305.0000', '3. low': '304.0000', '4. close': '304.5300', '5. volume': '88'}, '2025-11-13 17:05:00': {'1. open': '304.3000', '2. high': '305.0000', '3. low': '303.1900', '4. close': '304.5300', '5. volume': '94'}, '2025-11-13 17:00:00': {'1. open': '304.8200', '2. high': '304.8500', '3. low': '303.1900', '4. close': '304.3000', '5. volume': '145'}, '2025-11-13 16:55:00': {'1. open': '304.9883', '2. high': '305.0000', '3. low': '303.3000', '4. close': '304.8200', '5. volume': '187'}, '2025-11-13 16:50:00': {'1. open': '304.8400', '2. high': '305.1000', '3. low': '304.2900', '4. close': '304.2900', '5. volume': '364'}, '2025-11-13 16:45:00': {'1. open': '305.0800', '2. high': '305.1000', '3. low': '304.8400', '4. close': '304.8400', '5. volume': '15'}, '2025-11-13 16:40:00': {'1. open': '305.0100', '2. high': '305.2500', '3. low': '304.8600', '4. close': '305.1600', '5. volume': '969'}, '2025-11-13 16:35:00': {'1. open': '305.2500', '2. high': '305.2500', '3. low': '305.0000', '4. close': '305.2500', '5. volume': '442'}, '2025-11-13 16:30:00': {'1. open': '305.4100', '2. high': '305.5000', '3. low': '304.8600', '4. close': '304.8600', '5. volume': '175551'}, '2025-11-13 16:25:00': {'1. open': '305.6700', '2. high': '305.6700', '3. low': '305.2600', '4. close': '305.4150', '5. volume': '459'}, '2025-11-13 16:20:00': {'1. open': '304.8600', '2. high': '305.9300', '3. low': '304.8600', '4. close': '305.8100', '5. volume': '628'}, '2025-11-13 16:15:00': {'1. open': '304.8600', '2. high': '305.9500', '3. low': '304.8600', '4. close': '305.9100', '5. volume': '1121'}, '2025-11-13 16:10:00': {'1. open': '304.8600', '2. high': '305.6700', '3. low': '304.8600', '4. close': '305.6500', '5. volume': '1311383'}, '2025-11-13 16:05:00': {'1. open': '304.8600', '2. high': '305.4300', '3. low': '304.8400', '4. close': '305.1700', '5. volume': '45471'}, '2025-11-13 16:00:00': {'1. open': '304.8900', '2. high': '314.9800', '3. low': '304.1300', '4. close': '304.8900', '5. volume': '2752572'}, '2025-11-13 15:55:00': {'1. open': '304.2700', '2. high': '304.9500', '3. low': '303.9400', '4. close': '304.8900', '5. volume': '258598'}, '2025-11-13 15:50:00': {'1. open': '304.7000', '2. high': '304.9000', '3. low': '304.1700', '4. close': '304.2500', '5. volume': '130215'}, '2025-11-13 15:45:00': {'1. open': '305.2201', '2. high': '305.8300', '3. low': '304.6100', '4. close': '304.6950', '5. volume': '81521'}, '2025-11-13 15:40:00': {'1. open': '305.0900', '2. high': '305.3400', '3. low': '304.8650', '4. close': '305.2350', '5. volume': '58878'}, '2025-11-13 15:35:00': {'1. open': '304.0900', '2. high': '305.1300', '3. low': '304.0900', '4. close': '305.0700', '5. volume': '61428'}, '2025-11-13 15:30:00': {'1. open': '304.0000', '2. high': '304.3000', '3. low': '303.7005', '4. close': '304.1400', '5. volume': '87193'}, '2025-11-13 15:25:00': {'1. open': '304.3000', '2. high': '304.5600', '3. low': '303.6800', '4. close': '303.9700', '5. volume': '69431'}, '2025-11-13 15:20:00': {'1. open': '304.4050', '2. high': '304.4900', '3. low': '303.8923', '4. close': '304.2850', '5. volume': '60120'}, '2025-11-13 15:15:00': {'1. open': '305.1500', '2. high': '305.2000', '3. low': '304.3800', '4. close': '304.4050', '5. volume': '32490'}, '2025-11-13 15:10:00': {'1. open': '305.2750', '2. high': '305.3300', '3. low': '304.5400', '4. close': '305.1100', '5. volume': '56259'}, '2025-11-13 15:05:00': {'1. open': '305.5500', '2. high': '305.6500', '3. low': '305.0300', '4. close': '305.1900', '5. volume': '36610'}, '2025-11-13 15:00:00': {'1. open': '305.7100', '2. high': '305.9500', '3. low': '305.4550', '4. close': '305.5050', '5. volume': '24751'}, '2025-11-13 14:55:00': {'1. open': '305.2400', '2. high': '305.9100', '3. low': '304.8800', '4. close': '305.7950', '5. volume': '49383'}, '2025-11-13 14:50:00': {'1. open': '305.6700', '2. high': '305.9200', '3. low': '305.2100', '4. close': '305.2900', '5. volume': '31442'}, '2025-11-13 14:45:00': {'1. open': '306.1100', '2. high': '306.2600', '3. low': '305.5400', '4. close': '305.6425', '5. volume': '22878'}, '2025-11-13 14:40:00': {'1. open': '306.0000', '2. high': '306.1100', '3. low': '305.5401', '4. close': '305.9996', '5. volume': '17400'}, '2025-11-13 14:35:00': {'1. open': '306.2500', '2. high': '306.3900', '3. low': '305.8600', '4. close': '306.2000', '5. volume': '20145'}, '2025-11-13 14:30:00': {'1. open': '306.5550', '2. high': '306.5550', '3. low': '305.9500', '4. close': '306.2500', '5. volume': '34477'}, '2025-11-13 14:25:00': {'1. open': '306.0200', '2. high': '306.8100', '3. low': '306.0150', '4. close': '306.5900', '5. volume': '56235'}, '2025-11-13 14:20:00': {'1. open': '306.1600', '2. high': '306.3500', '3. low': '305.9000', '4. close': '306.0200', '5. volume': '31803'}, '2025-11-13 14:15:00': {'1. open': '306.0700', '2. high': '306.5100', '3. low': '305.9700', '4. close': '306.2500', '5. volume': '23332'}, '2025-11-13 14:10:00': {'1. open': '306.6100', '2. high': '306.6600', '3. low': '305.8000', '4. close': '306.1200', '5. volume': '28128'}, '2025-11-13 14:05:00': {'1. open': '306.2580', '2. high': '306.8200', '3. low': '306.1900', '4. close': '306.6400', '5. volume': '57596'}, '2025-11-13 14:00:00': {'1. open': '306.7350', '2. high': '306.8700', '3. low': '306.0700', '4. close': '306.2300', '5. volume': '20647'}, '2025-11-13 13:55:00': {'1. open': '306.7300', '2. high': '306.8600', '3. low': '306.1200', '4. close': '306.5900', '5. volume': '33212'}, '2025-11-13 13:50:00': {'1. open': '306.6700', '2. high': '307.0000', '3. low': '306.5101', '4. close': '306.6300', '5. volume': '20666'}, '2025-11-13 13:45:00': {'1. open': '306.9701', '2. high': '307.1500', '3. low': '306.3000', '4. close': '306.7350', '5. volume': '43221'}, '2025-11-13 13:40:00': {'1. open': '305.9025', '2. high': '307.0600', '3. low': '305.6701', '4. close': '306.8500', '5. volume': '39482'}, '2025-11-13 13:35:00': {'1. open': '306.2200', '2. high': '306.2350', '3. low': '305.6700', '4. close': '305.8950', '5. volume': '35600'}, '2025-11-13 13:30:00': {'1. open': '306.6300', '2. high': '306.6800', '3. low': '306.1000', '4. close': '306.2650', '5. volume': '45773'}, '2025-11-13 13:25:00': {'1. open': '307.3646', '2. high': '307.3850', '3. low': '306.4100', '4. close': '306.7200', '5. volume': '32626'}, '2025-11-13 13:20:00': {'1. open': '307.4412', '2. high': '307.5400', '3. low': '307.1000', '4. close': '307.3450', '5. volume': '30490'}, '2025-11-13 13:15:00': {'1. open': '308.2900', '2. high': '308.2900', '3. low': '307.4400', '4. close': '307.4500', '5. volume': '28958'}, '2025-11-13 13:10:00': {'1. open': '308.3100', '2. high': '308.5300', '3. low': '308.2100', '4. close': '308.2750', '5. volume': '29332'}, '2025-11-13 13:05:00': {'1. open': '308.1100', '2. high': '308.6373', '3. low': '307.9900', '4. close': '308.3100', '5. volume': '18186'}, '2025-11-13 13:00:00': {'1. open': '308.6900', '2. high': '309.2400', '3. low': '308.0000', '4. close': '308.0450', '5. volume': '35085'}, '2025-11-13 12:55:00': {'1. open': '308.7400', '2. high': '308.7775', '3. low': '308.3700', '4. close': '308.6050', '5. volume': '32591'}, '2025-11-13 12:50:00': {'1. open': '308.9000', '2. high': '309.0750', '3. low': '308.6100', '4. close': '308.6850', '5. volume': '27407'}, '2025-11-13 12:45:00': {'1. open': '309.0600', '2. high': '309.1300', '3. low': '308.6501', '4. close': '308.9188', '5. volume': '24156'}, '2025-11-13 12:40:00': {'1. open': '309.5700', '2. high': '309.7100', '3. low': '309.1450', '4. close': '309.1450', '5. volume': '10536'}, '2025-11-13 12:35:00': {'1. open': '309.3700', '2. high': '309.5500', '3. low': '309.0800', '4. close': '309.5500', '5. volume': '14691'}, '2025-11-13 12:30:00': {'1. open': '309.6250', '2. high': '309.7500', '3. low': '309.3752', '4. close': '309.4600', '5. volume': '15247'}, '2025-11-13 12:25:00': {'1. open': '309.4500', '2. high': '309.7400', '3. low': '309.3200', '4. close': '309.6800', '5. volume': '13317'}, '2025-11-13 12:20:00': {'1. open': '309.1500', '2. high': '309.6400', '3. low': '309.1001', '4. close': '309.4700', '5. volume': '14436'}, '2025-11-13 12:15:00': {'1. open': '309.2800', '2. high': '309.4900', '3. low': '309.1550', '4. close': '309.2600', '5. volume': '14053'}, '2025-11-13 12:10:00': {'1. open': '309.0500', '2. high': '309.5300', '3. low': '309.0100', '4. close': '309.2704', '5. volume': '19179'}, '2025-11-13 12:05:00': {'1. open': '309.3850', '2. high': '309.6800', '3. low': '309.0000', '4. close': '309.1268', '5. volume': '25941'}, '2025-11-13 12:00:00': {'1. open': '309.5700', '2. high': '309.5700', '3. low': '308.9300', '4. close': '309.3850', '5. volume': '28735'}, '2025-11-13 11:55:00': {'1. open': '308.9700', '2. high': '309.6800', '3. low': '307.9600', '4. close': '309.4650', '5. volume': '81087'}, '2025-11-13 11:50:00': {'1. open': '309.4400', '2. high': '309.8552', '3. low': '308.8800', '4. close': '308.9700', '5. volume': '22142'}, '2025-11-13 11:45:00': {'1. open': '309.2235', '2. high': '309.6800', '3. low': '309.1700', '4. close': '309.5730', '5. volume': '60104'}, '2025-11-13 11:40:00': {'1. open': '309.8300', '2. high': '309.9400', '3. low': '309.0440', '4. close': '309.2350', '5. volume': '27966'}, '2025-11-13 11:35:00': {'1. open': '310.8700', '2. high': '311.1800', '3. low': '309.7669', '4. close': '309.7669', '5. volume': '26252'}}}

In [4]:
import pandas as pd
import datetime
ticker = data['Meta Data']['2. Symbol']
del data['Meta Data']
data = data['Time Series (5min)'] #needlesly nested

In [5]:
df = pd.DataFrame.from_dict(data).T
df = df.apply(pd.to_numeric).reset_index()
df = df.rename(columns={'1. open' : 'open',
           '2. high' : 'high',
           '3. low' : 'low',
           '4. close' :'close',
           '5. volume' : 'volume',
           'index' : 'datetime'})
df

               datetime      open      high       low     close  volume
0   2025-11-13 19:55:00  304.8600  305.0000  304.8600  305.0000     100
1   2025-11-13 19:50:00  305.2000  305.2000  304.8726  304.8726      90
2   2025-11-13 19:45:00  305.1900  305.2000  305.0000  305.2000      19
3   2025-11-13 19:40:00  305.1900  305.1900  305.0000  305.1900      32
4   2025-11-13 19:35:00  305.1900  305.2000  304.6358  304.6358      50
..                  ...       ...       ...       ...       ...     ...
95  2025-11-13 11:55:00  308.9700  309.6800  307.9600  309.4650   81087
96  2025-11-13 11:50:00  309.4400  309.8552  308.8800  308.9700   22142
97  2025-11-13 11:45:00  309.2235  309.6800  309.1700  309.5730   60104
98  2025-11-13 11:40:00  309.8300  309.9400  309.0440  309.2350   27966
99  2025-11-13 11:35:00  310.8700  311.1800  309.7669  309.7669   26252

[100 rows x 6 columns]

In [6]:
df['datetime'] = pd.to_datetime(df['datetime'])

df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute

df['epoch'] = df['datetime'].astype('int64') // 10**9
df = (df
      .set_index('epoch')
      .reindex(columns=[ 'year', 'month', 'day', 'hour', 'minute', 
                'open', 'high', 'low', 'close']))

In [7]:
df

,year,month,day,hour,minute,open,high,low,close
epoch,,,,,,,,,
1763063700,2025,11,13,19,55,304.8600,305.0000,304.8600,305.0000
1763063400,2025,11,13,19,50,305.2000,305.2000,304.8726,304.8726
1763063100,2025,11,13,19,45,305.1900,305.2000,305.0000,305.2000
1763062800,2025,11,13,19,40,305.1900,305.1900,305.0000,305.1900
1763062500,2025,11,13,19,35,305.1900,305.2000,304.6358,304.6358
...,...,...,...,...,...,...,...,...,...
1763034900,2025,11,13,11,55,308.9700,309.6800,307.9600,309.4650
1763034600,2025,11,13,11,50,309.4400,309.8552,308.8800,308.9700
1763034300,2025,11,13,11,45,309.2235,309.6800,309.1700,309.5730
1763034000,2025,11,13,11,40,309.8300,309.9400,309.0440,309.2350
1763033700,2025,11,13,11,35,310.8700,311.1800,309.7669,309.7669

In [8]:
def getPxAction(ticker : str, api_key : str, interval : str = '5min') -> pd.DataFrame:
	"""
	Call the api to get a certain ticker as a df,
	with index as epoch timestamps, ohlc, and 
	year, month, day, hour, minute of the price
	----
	Usage:
	>>> getPxAction('IBM', 'demo').head(1)
	epoch       |year   |month  |day    |hour   |minute |open   |high   |low    |close  |
	=====================================================================================
	1759521300  |2025   |10     |03     |19     |55     |288.39 |288.75 |288.39 |288.45 |
	"""

	#the api call
	url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval={interval}&apikey={api_key}&extended_hours=false'

	r = requests.get(url)
	data = r.json()[f'Time Series ({interval})']

	df = pd.DataFrame.from_dict(data).T
	df = df.apply(pd.to_numeric).reset_index()
	df = df.rename(columns={'1. open' : 'open',
			'2. high' : 'high',
			'3. low' : 'low',
			'4. close' :'close',
			'5. volume' : 'volume',
			'index' : 'datetime'})
	df['datetime'] = pd.to_datetime(df['datetime'])
	df['year'] = df['datetime'].dt.year
	df['month'] = df['datetime'].dt.month
	df['day'] = df['datetime'].dt.day
	df['hour'] = df['datetime'].dt.hour
	df['minute'] = df['datetime'].dt.minute
	df['epoch'] = df['datetime'].astype('int64') // 10**9
	df = (df
		.set_index('epoch')
		.reindex(columns=[ 'year', 'month', 'day', 'hour', 'minute', 
					'open', 'high', 'low', 'close']))

	return df

In [49]:
getPxAction('IBM', 'demo').head(2)

KeyError: 'Time Series (5min)'

In [ ]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=demo&datatype=csv'

In [56]:
pd.read_csv(url)

              timestamp      open    high       low    close  volume
0   2025-10-03 19:55:00  288.3900  288.75  288.3900  288.450      93
1   2025-10-03 19:50:00  288.3813  288.50  288.3800  288.400      56
2   2025-10-03 19:45:00  288.3805  288.74  288.3800  288.740     156
3   2025-10-03 19:40:00  288.3807  288.75  288.3800  288.750     141
4   2025-10-03 19:35:00  288.3800  288.38  288.3800  288.380     212
..                  ...       ...     ...       ...      ...     ...
95  2025-10-03 11:55:00  291.1800  291.70  291.0700  291.615   31303
96  2025-10-03 11:50:00  291.2900  291.39  291.0900  291.155   26062
97  2025-10-03 11:45:00  290.8400  291.24  290.6900  291.240   22216
98  2025-10-03 11:40:00  291.0200  291.02  290.4700  290.910   43365
99  2025-10-03 11:35:00  290.5400  291.22  290.4201  291.000   39740

[100 rows x 6 columns]

# ETF Constit

In [71]:
url = 'https://www.alphavantage.co/query?function=ETF_PROFILE&symbol=QQQ&apikey=demo'

r = requests.get(url)

data = r.json()

In [62]:
div_yield = data['dividend_yield']
inc_date = data['inception_date']
data = data['holdings']

In [69]:
df = pd.json_normalize(data)
df = df.rename(columns={'symbol' : 'ticker',
           'description' : 'name'})
df['weight'] = df['weight'].astype('float')

In [73]:
data['net_expense_ratio']

'0.002'