In [1]:
import requests

url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=demo'

r = requests.get(url)

In [26]:
data = r.json()
data

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume',
  '2. Symbol': 'IBM',
  '3. Last Refreshed': '2025-10-02 19:55:00',
  '4. Interval': '5min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (5min)': {'2025-10-02 19:55:00': {'1. open': '286.8300',
   '2. high': '286.9400',
   '3. low': '286.8200',
   '4. close': '286.9400',
   '5. volume': '344'},
  '2025-10-02 19:50:00': {'1. open': '286.8500',
   '2. high': '286.9000',
   '3. low': '286.8200',
   '4. close': '286.8200',
   '5. volume': '310'},
  '2025-10-02 19:45:00': {'1. open': '286.8201',
   '2. high': '286.8201',
   '3. low': '286.8200',
   '4. close': '286.8200',
   '5. volume': '10'},
  '2025-10-02 19:40:00': {'1. open': '286.9000',
   '2. high': '286.9000',
   '3. low': '286.8500',
   '4. close': '286.9000',
   '5. volume': '38'},
  '2025-10-02 19:35:00': {'1. open': '286.8200',
   '2. high': '286.8200',
   '3. low': '286.8200',
   '4. close': '286.8200',
   '5. volume': '71'},
  '2025-10-02 19:30:00': {'1. open': '286.8300',
   '2. high': '286.8300',
   '3. low': '286.8300',
   '4. close': '286.8300',
   '5. volume': '3'},
  '2025-10-02 19:25:00': {'1. open': '286.9000',
   '2. high': '286.9000',
   '3. low': '286.8200',
   '4. close': '286.8300',
   '5. volume': '5'},
  '2025-10-02 19:20:00': {'1. open': '286.9000',
   '2. high': '286.9000',
   '3. low': '286.9000',
   '4. close': '286.9000',
   '5. volume': '102'},
  '2025-10-02 19:15:00': {'1. open': '286.9000',
   '2. high': '286.9000',
   '3. low': '286.8700',
   '4. close': '286.8900',
   '5. volume': '27'},
  '2025-10-02 19:10:00': {'1. open': '286.8200',
   '2. high': '286.8999',
   '3. low': '286.8200',
   '4. close': '286.8600',
   '5. volume': '18'},
  '2025-10-02 19:05:00': {'1. open': '286.8500',
   '2. high': '286.8500',
   '3. low': '286.8200',
   '4. close': '286.8200',
   '5. volume': '1216'},
  '2025-10-02 19:00:00': {'1. open': '286.7200',
   '2. high': '286.8500',
   '3. low': '286.7200',
   '4. close': '286.8500',
   '5. volume': '874954'},
  '2025-10-02 18:55:00': {'1. open': '286.8200',
   '2. high': '286.8500',
   '3. low': '286.8200',
   '4. close': '286.8500',
   '5. volume': '2'},
  '2025-10-02 18:50:00': {'1. open': '286.8200',
   '2. high': '286.8940',
   '3. low': '286.8200',
   '4. close': '286.8600',
   '5. volume': '7'},
  '2025-10-02 18:45:00': {'1. open': '286.8200',
   '2. high': '286.8200',
   '3. low': '286.8200',
   '4. close': '286.8200',
   '5. volume': '61'},
  '2025-10-02 18:35:00': {'1. open': '286.8200',
   '2. high': '286.8200',
   '3. low': '286.8200',
   '4. close': '286.8200',
   '5. volume': '13'},
  '2025-10-02 18:30:00': {'1. open': '286.7200',
   '2. high': '286.9000',
   '3. low': '286.7200',
   '4. close': '286.8200',
   '5. volume': '875004'},
  '2025-10-02 18:25:00': {'1. open': '286.8200',
   '2. high': '286.8200',
   '3. low': '286.8200',
   '4. close': '286.8200',
   '5. volume': '22'},
  '2025-10-02 18:20:00': {'1. open': '287.2178',
   '2. high': '287.2178',
   '3. low': '286.8200',
   '4. close': '286.8200',
   '5. volume': '9'},
  '2025-10-02 18:15:00': {'1. open': '286.8300',
   '2. high': '287.2500',
   '3. low': '286.8300',
   '4. close': '287.2000',
   '5. volume': '63'},
  '2025-10-02 18:10:00': {'1. open': '286.8700',
   '2. high': '287.1300',
   '3. low': '286.7800',
   '4. close': '286.8200',
   '5. volume': '756'},
  '2025-10-02 18:05:00': {'1. open': '287.1000',
   '2. high': '287.2400',
   '3. low': '286.8200',
   '4. close': '287.0000',
   '5. volume': '39'},
  '2025-10-02 18:00:00': {'1. open': '287.2500',
   '2. high': '287.2500',
   '3. low': '287.2500',
   '4. close': '287.2500',
   '5. volume': '2'},
  '2025-10-02 17:55:00': {'1. open': '287.1750',
   '2. high': '287.1750',
   '3. low': '287.0000',
   '4. close': '287.0000',
   '5. volume': '24'},
  '2025-10-02 17:50:00': {'1. open': '287.2500',
   '2. high': '287.3500',
   '3. low': '286.7200',
   '4. close': '287.2400',
   '5. volume': '2630'},
  '2025-10-02 17:45:00': {'1. open': '287.5000',
   '2. high': '287.5000',
   '3. low': '287.0000',
   '4. close': '287.4000',
   '5. volume': '54'},
  '2025-10-02 17:40:00': {'1. open': '287.4400',
   '2. high': '287.4999',
   '3. low': '287.0300',
   '4. close': '287.4999',
   '5. volume': '22'},
  '2025-10-02 17:35:00': {'1. open': '287.4900',
   '2. high': '287.4900',
   '3. low': '242.2270',
   '4. close': '287.0200',
   '5. volume': '33'},
  '2025-10-02 17:30:00': {'1. open': '287.4400',
   '2. high': '287.4400',
   '3. low': '286.8212',
   '4. close': '287.4400',
   '5. volume': '6'},
  '2025-10-02 17:25:00': {'1. open': '286.8200',
   '2. high': '286.8710',
   '3. low': '286.8200',
   '4. close': '286.8710',
   '5. volume': '13'},
  '2025-10-02 17:20:00': {'1. open': '287.0900',
   '2. high': '287.5000',
   '3. low': '286.8700',
   '4. close': '286.8700',
   '5. volume': '100'},
  '2025-10-02 17:15:00': {'1. open': '287.2000',
   '2. high': '287.5000',
   '3. low': '286.7200',
   '4. close': '286.8200',
   '5. volume': '1492'},
  '2025-10-02 17:10:00': {'1. open': '287.0900',
   '2. high': '287.5000',
   '3. low': '286.8200',
   '4. close': '287.0000',
   '5. volume': '206'},
  '2025-10-02 17:05:00': {'1. open': '287.0100',
   '2. high': '287.0100',
   '3. low': '287.0100',
   '4. close': '287.0100',
   '5. volume': '20'},
  '2025-10-02 17:00:00': {'1. open': '287.1000',
   '2. high': '287.1000',
   '3. low': '287.1000',
   '4. close': '287.1000',
   '5. volume': '25'},
  '2025-10-02 16:55:00': {'1. open': '287.1900',
   '2. high': '287.5000',
   '3. low': '286.8100',
   '4. close': '286.8100',
   '5. volume': '7'},
  '2025-10-02 16:50:00': {'1. open': '286.9000',
   '2. high': '286.9900',
   '3. low': '286.8000',
   '4. close': '286.9900',
   '5. volume': '71'},
  '2025-10-02 16:45:00': {'1. open': '287.4999',
   '2. high': '287.4999',
   '3. low': '286.8000',
   '4. close': '286.8000',
   '5. volume': '46'},
  '2025-10-02 16:40:00': {'1. open': '286.8700',
   '2. high': '287.5000',
   '3. low': '286.7300',
   '4. close': '286.7300',
   '5. volume': '1037'},
  '2025-10-02 16:35:00': {'1. open': '286.7600',
   '2. high': '286.9899',
   '3. low': '286.7500',
   '4. close': '286.8700',
   '5. volume': '18'},
  '2025-10-02 16:30:00': {'1. open': '286.9900',
   '2. high': '286.9900',
   '3. low': '286.9800',
   '4. close': '286.9800',
   '5. volume': '1001'},
  '2025-10-02 16:25:00': {'1. open': '287.1900',
   '2. high': '287.1900',
   '3. low': '286.7500',
   '4. close': '286.7700',
   '5. volume': '78'},
  '2025-10-02 16:20:00': {'1. open': '287.0000',
   '2. high': '287.1900',
   '3. low': '286.7500',
   '4. close': '286.7500',
   '5. volume': '78'},
  '2025-10-02 16:15:00': {'1. open': '286.7200',
   '2. high': '287.0000',
   '3. low': '286.7200',
   '4. close': '287.0000',
   '5. volume': '443'},
  '2025-10-02 16:10:00': {'1. open': '286.7200',
   '2. high': '287.0000',
   '3. low': '286.6500',
   '4. close': '287.0000',
   '5. volume': '877553'},
  '2025-10-02 16:05:00': {'1. open': '286.7200',
   '2. high': '287.3900',
   '3. low': '286.6500',
   '4. close': '286.6535',
   '5. volume': '142'},
  '2025-10-02 16:00:00': {'1. open': '286.7800',
   '2. high': '287.1500',
   '3. low': '286.5900',
   '4. close': '286.7200',
   '5. volume': '1837073'},
  '2025-10-02 15:55:00': {'1. open': '287.0600',
   '2. high': '287.2350',
   '3. low': '286.7000',
   '4. close': '286.7000',
   '5. volume': '321157'},
  '2025-10-02 15:50:00': {'1. open': '287.8400',
   '2. high': '287.8500',
   '3. low': '286.9400',
   '4. close': '287.1000',
   '5. volume': '77383'},
  '2025-10-02 15:45:00': {'1. open': '287.9850',
   '2. high': '288.0300',
   '3. low': '287.4200',
   '4. close': '287.8400',
   '5. volume': '69493'},
  '2025-10-02 15:40:00': {'1. open': '287.2500',
   '2. high': '288.0600',
   '3. low': '287.2500',
   '4. close': '288.0100',
   '5. volume': '48132'},
  '2025-10-02 15:35:00': {'1. open': '287.5500',
   '2. high': '287.5800',
   '3. low': '287.0346',
   '4. close': '287.3000',
   '5. volume': '57192'},
  '2025-10-02 15:30:00': {'1. open': '287.7200',
   '2. high': '287.7700',
   '3. low': '287.5400',
   '4. close': '287.5950',
   '5. volume': '40491'},
  '2025-10-02 15:25:00': {'1. open': '287.7200',
   '2. high': '287.7900',
   '3. low': '287.5950',
   '4. close': '287.7200',
   '5. volume': '44273'},
  '2025-10-02 15:20:00': {'1. open': '288.3700',
   '2. high': '288.3700',
   '3. low': '287.6500',
   '4. close': '287.6700',
   '5. volume': '37310'},
  '2025-10-02 15:15:00': {'1. open': '288.3550',
   '2. high': '288.4800',
   '3. low': '288.2500',
   '4. close': '288.3500',
   '5. volume': '30794'},
  '2025-10-02 15:10:00': {'1. open': '288.2250',
   '2. high': '288.5000',
   '3. low': '288.1800',
   '4. close': '288.3600',
   '5. volume': '36478'},
  '2025-10-02 15:05:00': {'1. open': '288.2500',
   '2. high': '288.4900',
   '3. low': '288.1950',
   '4. close': '288.2250',
   '5. volume': '33986'},
  '2025-10-02 15:00:00': {'1. open': '287.8250',
   '2. high': '288.2500',
   '3. low': '287.8250',
   '4. close': '288.2050',
   '5. volume': '41414'},
  '2025-10-02 14:55:00': {'1. open': '287.9200',
   '2. high': '288.0700',
   '3. low': '287.6300',
   '4. close': '287.7650',
   '5. volume': '47595'},
  '2025-10-02 14:50:00': {'1. open': '287.8000',
   '2. high': '288.5400',
   '3. low': '287.6900',
   '4. close': '288.0154',
   '5. volume': '116846'},
  '2025-10-02 14:45:00': {'1. open': '287.4400',
   '2. high': '288.0000',
   '3. low': '287.1401',
   '4. close': '287.8200',
   '5. volume': '61740'},
  '2025-10-02 14:40:00': {'1. open': '287.4300',
   '2. high': '287.5500',
   '3. low': '287.3300',
   '4. close': '287.4500',
   '5. volume': '32804'},
  '2025-10-02 14:35:00': {'1. open': '287.2200',
   '2. high': '287.5000',
   '3. low': '287.1201',
   '4. close': '287.4623',
   '5. volume': '53846'},
  '2025-10-02 14:30:00': {'1. open': '286.7650',
   '2. high': '287.2900',
   '3. low': '286.6700',
   '4. close': '287.1850',
   '5. volume': '41831'},
  '2025-10-02 14:25:00': {'1. open': '286.9099',
   '2. high': '287.0000',
   '3. low': '286.7500',
   '4. close': '286.7600',
   '5. volume': '25887'},
  '2025-10-02 14:20:00': {'1. open': '286.2700',
   '2. high': '286.8400',
   '3. low': '286.2500',
   '4. close': '286.8400',
   '5. volume': '18306'},
  '2025-10-02 14:15:00': {'1. open': '285.9775',
   '2. high': '286.3000',
   '3. low': '285.9775',
   '4. close': '286.1658',
   '5. volume': '13340'},
  '2025-10-02 14:10:00': {'1. open': '286.1353',
   '2. high': '286.3850',
   '3. low': '285.9650',
   '4. close': '285.9650',
   '5. volume': '16197'},
  '2025-10-02 14:05:00': {'1. open': '285.8700',
   '2. high': '286.1800',
   '3. low': '285.7900',
   '4. close': '286.0600',
   '5. volume': '22984'},
  '2025-10-02 14:00:00': {'1. open': '285.9900',
   '2. high': '286.0200',
   '3. low': '285.7450',
   '4. close': '285.7950',
   '5. volume': '22416'},
  '2025-10-02 13:55:00': {'1. open': '286.0000',
   '2. high': '286.0400',
   '3. low': '285.6900',
   '4. close': '285.9000',
   '5. volume': '14851'},
  '2025-10-02 13:50:00': {'1. open': '285.8400',
   '2. high': '286.1100',
   '3. low': '285.8400',
   '4. close': '286.0550',
   '5. volume': '12106'},
  '2025-10-02 13:45:00': {'1. open': '285.8600',
   '2. high': '286.2100',
   '3. low': '285.7321',
   '4. close': '285.9150',
   '5. volume': '15256'},
  '2025-10-02 13:40:00': {'1. open': '285.9600',
   '2. high': '286.2200',
   '3. low': '285.7900',
   '4. close': '285.7950',
   '5. volume': '37254'},
  '2025-10-02 13:35:00': {'1. open': '285.8500',
   '2. high': '286.0400',
   '3. low': '285.8500',
   '4. close': '286.0200',
   '5. volume': '11407'},
  '2025-10-02 13:30:00': {'1. open': '285.6400',
   '2. high': '285.8400',
   '3. low': '285.5740',
   '4. close': '285.8400',
   '5. volume': '11102'},
  '2025-10-02 13:25:00': {'1. open': '285.5895',
   '2. high': '285.6700',
   '3. low': '285.5100',
   '4. close': '285.5800',
   '5. volume': '10378'},
  '2025-10-02 13:20:00': {'1. open': '285.5800',
   '2. high': '285.6100',
   '3. low': '285.4500',
   '4. close': '285.5899',
   '5. volume': '17034'},
  '2025-10-02 13:15:00': {'1. open': '285.5000',
   '2. high': '285.5800',
   '3. low': '285.3850',
   '4. close': '285.5000',
   '5. volume': '10335'},
  '2025-10-02 13:10:00': {'1. open': '285.1000',
   '2. high': '285.5840',
   '3. low': '285.0500',
   '4. close': '285.5350',
   '5. volume': '17747'},
  '2025-10-02 13:05:00': {'1. open': '284.8600',
   '2. high': '285.2900',
   '3. low': '284.7800',
   '4. close': '285.1900',
   '5. volume': '17158'},
  '2025-10-02 13:00:00': {'1. open': '284.8100',
   '2. high': '285.0000',
   '3. low': '284.7200',
   '4. close': '284.8502',
   '5. volume': '14097'},
  '2025-10-02 12:55:00': {'1. open': '284.9700',
   '2. high': '284.9700',
   '3. low': '284.7600',
   '4. close': '284.7600',
   '5. volume': '11846'},
  '2025-10-02 12:50:00': {'1. open': '284.6200',
   '2. high': '285.0000',
   '3. low': '284.6100',
   '4. close': '284.9700',
   '5. volume': '12762'},
  '2025-10-02 12:45:00': {'1. open': '284.3801',
   '2. high': '284.7100',
   '3. low': '284.3801',
   '4. close': '284.6250',
   '5. volume': '10563'},
  '2025-10-02 12:40:00': {'1. open': '284.0900',
   '2. high': '284.5700',
   '3. low': '284.0600',
   '4. close': '284.5700',
   '5. volume': '14601'},
  '2025-10-02 12:35:00': {'1. open': '284.8600',
   '2. high': '284.8600',
   '3. low': '284.0000',
   '4. close': '284.1250',
   '5. volume': '16908'},
  '2025-10-02 12:30:00': {'1. open': '284.5950',
   '2. high': '284.9400',
   '3. low': '284.5950',
   '4. close': '284.9400',
   '5. volume': '13053'},
  '2025-10-02 12:25:00': {'1. open': '284.4350',
   '2. high': '284.6700',
   '3. low': '284.3950',
   '4. close': '284.6464',
   '5. volume': '11272'},
  '2025-10-02 12:20:00': {'1. open': '284.5400',
   '2. high': '284.7200',
   '3. low': '284.3801',
   '4. close': '284.4350',
   '5. volume': '14523'},
  '2025-10-02 12:15:00': {'1. open': '284.5850',
   '2. high': '284.6300',
   '3. low': '284.4500',
   '4. close': '284.5200',
   '5. volume': '13300'},
  '2025-10-02 12:10:00': {'1. open': '284.3600',
   '2. high': '284.6500',
   '3. low': '284.2300',
   '4. close': '284.5800',
   '5. volume': '14984'},
  '2025-10-02 12:05:00': {'1. open': '284.1200',
   '2. high': '284.5300',
   '3. low': '283.8800',
   '4. close': '284.4600',
   '5. volume': '18429'},
  '2025-10-02 12:00:00': {'1. open': '284.2250',
   '2. high': '284.4000',
   '3. low': '284.0500',
   '4. close': '284.1200',
   '5. volume': '19143'},
  '2025-10-02 11:55:00': {'1. open': '284.4350',
   '2. high': '284.5000',
   '3. low': '284.0900',
   '4. close': '284.2250',
   '5. volume': '22444'},
  '2025-10-02 11:50:00': {'1. open': '284.2750',
   '2. high': '284.6000',
   '3. low': '284.2750',
   '4. close': '284.3800',
   '5. volume': '15992'},
  '2025-10-02 11:45:00': {'1. open': '284.2500',
   '2. high': '284.3500',
   '3. low': '284.1000',
   '4. close': '284.2750',
   '5. volume': '18083'},
  '2025-10-02 11:40:00': {'1. open': '284.7900',
   '2. high': '284.9000',
   '3. low': '284.2500',
   '4. close': '284.3200',
   '5. volume': '26827'},
  '2025-10-02 11:35:00': {'1. open': '284.4450',
   '2. high': '284.9000',
   '3. low': '284.3600',
   '4. close': '284.7250',
   '5. volume': '22428'}}}

In [27]:
import pandas as pd
import datetime
ticker = data['Meta Data']['2. Symbol']
del data['Meta Data']
data = data['Time Series (5min)'] #needlesly nested

In [28]:
df = pd.DataFrame.from_dict(data).T
df = df.apply(pd.to_numeric).reset_index()
df = df.rename(columns={'1. open' : 'open',
           '2. high' : 'high',
           '3. low' : 'low',
           '4. close' :'close',
           '5. volume' : 'volume',
           'index' : 'datetime'})
df

               datetime      open      high      low    close  volume
0   2025-10-02 19:55:00  286.8300  286.9400  286.820  286.940     344
1   2025-10-02 19:50:00  286.8500  286.9000  286.820  286.820     310
2   2025-10-02 19:45:00  286.8201  286.8201  286.820  286.820      10
3   2025-10-02 19:40:00  286.9000  286.9000  286.850  286.900      38
4   2025-10-02 19:35:00  286.8200  286.8200  286.820  286.820      71
..                  ...       ...       ...      ...      ...     ...
95  2025-10-02 11:55:00  284.4350  284.5000  284.090  284.225   22444
96  2025-10-02 11:50:00  284.2750  284.6000  284.275  284.380   15992
97  2025-10-02 11:45:00  284.2500  284.3500  284.100  284.275   18083
98  2025-10-02 11:40:00  284.7900  284.9000  284.250  284.320   26827
99  2025-10-02 11:35:00  284.4450  284.9000  284.360  284.725   22428

[100 rows x 6 columns]

In [ ]:
def datetime2List(date : datetime.date):
    """
    Turns a datetime object into a list
    """
    out = []
    out.append(date.year)
    out.append()
df[['year', 'month', 'day', 'hour', 'minute', 'second']] = datetime.fromisoformat(df['datetime'])