In [1]:
from pat_analytics import Portfolio
from pat_analytics import MarketData 
import datetime
import pandas as pd

# Class MarketData
`MarketData( api_key : str, date_range : tuple[datetime.date, datetime.date])`

`MarketData` Creates an obect that stores key and date range

_**api_key : str**_

an api key string that is used to access the data. Can be gotten from https://www.alphavantage.co
    
_**date_range : tuple**_

A tuple in the form of ((year, month, day),(year, month, day)) where each entery is an integer



**Output:** object with properties:

        self.base_url = "https://www.alphavantage.co/query?"
        self.api_key = api_key
        self.date_start, self.date_end = date_range

In [2]:
start_date = (2025, 11, 13)
end_date = (2024, 9, 13)
date_range = (start_date,end_date)
key = '1QAPY627ICJSPO8R'
mrktdta = MarketData(key,(start_date,end_date))
print(mrktdta)

<pat_analytics.core.marketdata.MarketData object at 0x00000299676696D0>

# MarketData.getPxAction - Getting stock data with an api call
`MarketData.getPxAction(self, ticker : str, interval : str = '5min', extended_hours : bool = False, month : str | None = None, output_size : str = 'full')`

`getPxAction` method retreives the stock data for the last 4 weeks in the form of a pandas data frame. Data is not real time.

_**ticker : str**_

The unique set of letters and numbers representing a stock, such as "META" or "TSLA" is called a ticker. Method takes in a ticker in the form of a string

_**interval : str = '5min'**_

Takes a string to designate the time interval of the data. Valid intervals are: '1min', '5min', '15min', '30min', '60min'

_**extended_hours : bool = False**_ 

By default, `extended_hours=true` and the output time series will include both the regular trading hours and the extended (pre-market and post-market) trading hours (4:00am to 8:00pm Eastern Time for the US market). Set `extended_hours=false` to query regular trading hours (9:30am to 4:00pm US Eastern Time) only. 

_**month : str | None = None** _


retreives data for that month

_**output_size: str = "compact"**_

Strings 'compact' and 'full' are accepted with the following specifications: 'compact' returns only the latest 100 data points; 'full' returns the full-length time series of 20+ years of historical data. The "compact" option is recommended if you would like to reduce the data size of each API call. 

**Output:** Pandas dataframe with 10 columns of, year, month, day, hour, minute, open, high, low, close, volume.
Rows up to four weeks

In [3]:
DNUT_data = mrktdta.getPxAction('DNUT', '60min', output_size = 'full')

In [4]:
DNUT_data

            year  month  day  hour  minute   open   high   low   close  volume
epoch
1763132400  2025     11   14    15       0  4.075  4.115  4.05  4.0750  650810
1763128800  2025     11   14    14       0  4.095  4.095  4.05  4.0750  381998
1763125200  2025     11   14    13       0  4.025  4.100  4.02  4.0900  655635
1763121600  2025     11   14    12       0  4.015  4.040  3.99  4.0227  438669
1763118000  2025     11   14    11       0  3.960  4.030  3.94  4.0150  466721
...          ...    ...  ...   ...     ...    ...    ...   ...     ...     ...
1760623200  2025     10   16    14       0  3.385  3.385  3.29  3.3350  448340
1760619600  2025     10   16    13       0  3.315  3.385  3.30  3.3850  598155
1760616000  2025     10   16    12       0  3.305  3.320  3.29  3.3150  305153
1760612400  2025     10   16    11       0  3.280  3.320  3.27  3.3050  518142
1760608800  2025     10   16    10       0  3.280  3.290  3.25  3.2700  666843

[132 rows x 10 columns]

# MarketData.getETFmetadata - getting ETF data

`getETFmetadata(self, ticker : str)`

-**ticker : str**_

Method takes an ETF ticker as string. 'VOO' for Vanguard S&P 500, or 'GLD' for the SPDR Gold Shares ETF

_**Output:**_ indexed tuple table of list of stocks and their weight in the ETF

In [5]:
SPY_data = mrktdta.getETFmetadata('SPY')

In [6]:
SPY_data

(    ticker                                          name  weight
 0     NVDA                                   NVIDIA CORP  0.0807
 1     AAPL                                     APPLE INC  0.0699
 2     MSFT                                MICROSOFT CORP  0.0647
 3     AMZN                                AMAZON.COM INC  0.0414
 4    GOOGL                          ALPHABET INC CLASS A  0.0290
 ..     ...                                           ...     ...
 496    BEN                        FRANKLIN RESOURCES INC  0.0001
 497   HSIC                              HENRY SCHEIN INC  0.0001
 498    CRL  CHARLES RIVER LABORATORIES INTERNATIONAL INC  0.0001
 499   SOLS               SOLSTICE ADVANCED MATERIALS INC  0.0001
 500    AOS                               A.O. SMITH CORP  0.0001

 [501 rows x 3 columns],
 0.0103,
 '1993-01-22',
 0.000945)

# MarketData.getFXdata_intraday - Get Exchange rates data
`getFXdata_intraday(self, from_curr: str, to_curr: str,interval: str = "5min", output_size: str = "compact", extended_hours: bool = False)`

_**from_curr: str, to_curr: str**_

Exchange rate from which currency to which other currency. A string of the shorthand for that currency, could be goverment backed or crypto. 'USD' for USA dollars, 'BTC' for Bitcoin

_**interval : str = '5min'**_

Takes a string to designate the time interval of the data. Valid intervals are: '1min', '5min', '15min', '30min', '60min'

_**output_size: str = "compact"**_

Strings 'compact' and 'full' are accepted with the following specifications: 'compact' returns only the latest 100 data points; 'full' returns the full-length time series of 20+ years of historical data. The "compact" option is recommended if you would like to reduce the data size of each API call. 

_**extended_hours : bool = False**_ 

By default, `extended_hours=true` and the output time series will include both the regular trading hours and the extended (pre-market and post-market) trading hours (4:00am to 8:00pm Eastern Time for the US market). Set `extended_hours=false` to query regular trading hours (9:30am to 4:00pm US Eastern Time) only.

In [ ]:
''' currently intraday is premium so cannot show '''

USD_BTC = mrktdta.getFXdata_intraday('USD', 'BTC' )

In [ ]:
USD_BTC

Example script to get data for one month and put it in CSV file

In [ ]:
date_start = datetime.date(2021, 8, 1)
date_end = datetime.date(2021, 10, 1)
#data = MarketData(config.api_key, (date_start, date_end))
key =  '1QAPY627ICJSPO8R'
data = MarketData(key, (date_start, date_end))


tickers = ["SBUX", "EL", "DNUT", "YUM"]
for ticker in tickers:
    month = '2025-08'
    df = data.getPxAction(ticker, month=month)
    df.to_csv(f'{ticker}.csv')
    time.sleep(3)

In [ ]:
Example script to then load the csv files into a dictionary and initiating the portfolio

# Class Portfolio

`Portfolio(pxaction : pd.DataFrame, metadata : pd.DataFrame = None,  weight : pd.Series | str = None, rebalance_period : str = "none")`

_**pxaction : pd.DataFrame**_



_**metadata : pd.DataFrame = None**_


_**weight : pd.Series | str = None**_


_**rebalance_period : str = "none"**_

In [10]:
#Port = Portfolio(DNUT_data)
'''
idk how tf this is suppsoed to work
'''

'\nidk how tf this is suppsoed to work\n'

# Portfolio.from_dict - Alternate constructor
`(data_dict : dict[str, pd.DataFrame | pd.Series],metadata : pd.DataFrame = None, weight : pd.Series = None,rebalance_period  : str = "none"):`

Creates the portfolio class from which several methods can be used to analyze and backtest it under different conditions

If no asset quantities are not provided, the quantities will be found using weights. Must provide one or the other.

_**data_dict : dict[str, pd.DataFrame | pd.Series]**_

Dictionary with the ticker string as the key, and the dataframe or series as items

_**metadata : pd.DataFrame = None**_

Dataframe  to define amount of assets. With columns being quantity and sector, the index being the tickers 

_**weight : pd.Series = None**_

A series with preferred portfolio asset weights, must add up to one

_**rebalance_period  : str = "none"**_

A string indicating how often to rebalence the portfolio to get back to the preferred weights. 
Period can be a str ('1D', '15min', etc), an int to indicate days, or None to not rebalance at all.

In [18]:
''' meta data constuction example '''

metadata = pd.DataFrame({
    "quantity": {"AAPL": 10, "MSFT": 5},
    "sector":   {"AAPL": "Tech", "MSFT": "Tech"}
})
metadata

      quantity sector
AAPL        10   Tech
MSFT         5   Tech

In [2]:
tickers = ["SBUX", "EL", "DNUT", "YUM"]
weight = {}
data = {}
for s in tickers:
    df = pd.read_csv(f"{s}.csv")
    df['datetime'] = pd.to_datetime(df['epoch'], unit='s')
    df = df[['datetime', 'open', 'high', 'low', 'close', 'volume']]
    data[s] = df


p = Portfolio.from_dict(data, weight = 'uniform', rebalance_period="5min")
p.pxaction

INDEX OF PXACTION DatetimeIndex(['2025-08-01 09:30:00', '2025-08-01 09:35:00',
               '2025-08-01 09:40:00', '2025-08-01 09:45:00',
               '2025-08-01 09:50:00', '2025-08-01 09:55:00',
               '2025-08-01 10:00:00', '2025-08-01 10:05:00',
               '2025-08-01 10:10:00', '2025-08-01 10:15:00',
               ...
               '2025-08-29 15:10:00', '2025-08-29 15:15:00',
               '2025-08-29 15:20:00', '2025-08-29 15:25:00',
               '2025-08-29 15:30:00', '2025-08-29 15:35:00',
               '2025-08-29 15:40:00', '2025-08-29 15:45:00',
               '2025-08-29 15:50:00', '2025-08-29 15:55:00'],
              dtype='datetime64[ns]', name='datetime', length=1638, freq=None)

ticker                 DNUT                                       EL           \
field                 close    high     low    open  volume    close     high
datetime
2025-08-01 09:30:00  3.5248  3.5697  3.4700  3.5500  237921  89.6892  90.7103
2025-08-01 09:35:00  3.4940  3.5282  3.4850  3.5280   75782  89.5398  90.3268
2025-08-01 09:40:00  3.4800  3.5100  3.4800  3.5098   69316  89.3207  89.8038
2025-08-01 09:45:00  3.5070  3.5097  3.4700  3.4800  104872  89.1663  89.3261
2025-08-01 09:50:00  3.4950  3.5100  3.4900  3.5050   32660  89.0766  89.1663
...                     ...     ...     ...     ...     ...      ...      ...
2025-08-29 15:35:00  3.5200  3.5200  3.5145  3.5150   18241  91.5471  91.5570
2025-08-29 15:40:00  3.5200  3.5200  3.5100  3.5200   32504  91.6865  91.7264
2025-08-29 15:45:00  3.5400  3.5400  3.5150  3.5150   55740  91.5023  91.6817
2025-08-29 15:50:00  3.5498  3.5500  3.5300  3.5400  140127  91.4425  91.6069
2025-08-29 15:55:00  3.5450  3.5600  3.5400  3.5450  231761  91.3777  91.5072

ticker                                            SBUX                    \
field                    low     open  volume    close     high      low
datetime
2025-08-01 09:30:00  89.4352  90.2521  184644  85.8795  87.2650  85.6231
2025-08-01 09:35:00  89.5149  89.6643   50578  85.7415  86.0373  85.5245
2025-08-01 09:40:00  89.1364  89.5398   65774  85.6724  85.9683  85.4949
2025-08-01 09:45:00  88.7062  89.3261   51906  85.7513  85.8894  85.4555
2025-08-01 09:50:00  88.7977  89.0965   33029  85.7267  85.8203  85.6034
...                      ...      ...     ...      ...      ...      ...
2025-08-29 15:35:00  91.3877  91.4325   27430  87.1775  87.1889  87.1179
2025-08-29 15:40:00  91.5272  91.5471   54760  87.3562  87.3661  87.1675
2025-08-29 15:45:00  91.4774  91.6817   47828  87.3711  87.4207  87.3115
2025-08-29 15:50:00  91.3777  91.5172   81078  87.3562  87.3909  87.1844
2025-08-29 15:55:00  91.2980  91.4475  265590  87.5696  87.6192  87.3413

ticker                                     YUM                                \
field                   open  volume     close      high       low      open
datetime
2025-08-01 09:30:00  87.1614  725947  144.8628  145.0021  144.4051  144.9623
2025-08-01 09:35:00  85.8844  320711  145.0021  145.0071  144.7235  144.7434
2025-08-01 09:40:00  85.7563  384533  144.6638  144.9723  144.5444  144.9574
2025-08-01 09:45:00  85.6823  227071  144.3429  144.6842  144.2757  144.6842
2025-08-01 09:50:00  85.7513  150831  145.1017  145.1713  144.3603  144.3652
...                      ...     ...       ...       ...       ...       ...
2025-08-29 15:35:00  87.1576   61824  146.0072  146.0595  145.9177  146.0371
2025-08-29 15:40:00  87.1725  118483  146.0669  146.1167  145.9774  145.9873
2025-08-29 15:45:00  87.3586  134770  146.0769  146.1565  146.0371  146.1067
2025-08-29 15:50:00  87.3810  165239  146.1366  146.1864  145.8779  146.0968
2025-08-29 15:55:00  87.3661  567359  146.1067  146.3257  146.0570  146.1466

ticker
field                volume
datetime
2025-08-01 09:30:00   53275
2025-08-01 09:35:00   13150
2025-08-01 09:40:00   42691
2025-08-01 09:45:00   11330
2025-08-01 09:50:00   24064
...                     ...
2025-08-29 15:35:00   17258
2025-08-29 15:40:00   19684
2025-08-29 15:45:00   34048
2025-08-29 15:50:00   57302
2025-08-29 15:55:00  189689

[1638 rows x 20 columns]

# Portfolio.run_backtester

`(type)`

Run a simulation of your portfolio

_**'simple'**_



_**'proportional'**_




_**'kwargs'**_

fee

cash

In [3]:
p.run_backtest(type="simple")

(ticker                   DNUT        EL      SBUX       YUM
 datetime
 2025-08-01 09:30:00  0.250000  0.250000  0.250000  0.250000
 2025-08-01 09:35:00  0.250000  0.250000  0.250000  0.250000
 2025-08-01 09:40:00  0.249252  0.250137  0.250145  0.250466
 2025-08-01 09:45:00  0.250000  0.250000  0.250000  0.250000
 2025-08-01 09:50:00  0.250821  0.249636  0.249967  0.249575
 ...                       ...       ...       ...       ...
 2025-08-29 15:35:00  0.250000  0.250000  0.250000  0.250000
 2025-08-29 15:40:00  0.250231  0.250018  0.249897  0.249854
 2025-08-29 15:45:00  0.250000  0.250000  0.250000  0.250000
 2025-08-29 15:50:00  0.250588  0.249627  0.249899  0.249886
 2025-08-29 15:55:00  0.250000  0.250000  0.250000  0.250000

 [1638 rows x 4 columns],
 ticker                   DNUT        EL      SBUX       YUM
 datetime
 2025-08-01 09:30:00  0.070926  0.002787  0.002911  0.001726
 2025-08-01 09:35:00  0.070926  0.002787  0.002911  0.001726
 2025-08-01 09:40:00  0.070926  0.002787  0.002911  0.001726
 2025-08-01 09:45:00  0.071002  0.002793  0.002904  0.001725
 2025-08-01 09:50:00  0.071002  0.002793  0.002904  0.001725
 ...                       ...       ...       ...       ...
 2025-08-29 15:35:00  0.072133  0.002774  0.002913  0.001739
 2025-08-29 15:40:00  0.072133  0.002774  0.002913  0.001739
 2025-08-29 15:45:00  0.071867  0.002780  0.002912  0.001742
 2025-08-29 15:50:00  0.071867  0.002780  0.002912  0.001742
 2025-08-29 15:55:00  0.071810  0.002786  0.002907  0.001742

 [1638 rows x 4 columns])

In [4]:
p.run_backtest(type="proportional", fee=0.005, cash=0.05)

(ticker                   DNUT        EL      SBUX       YUM
 datetime
 2025-08-01 09:30:00  0.250000  0.250000  0.250000  0.250000
 2025-08-01 09:35:00  0.250000  0.250000  0.250000  0.250000
 2025-08-01 09:40:00  0.249252  0.250137  0.250145  0.250466
 2025-08-01 09:45:00  0.250000  0.250000  0.250000  0.250000
 2025-08-01 09:50:00  0.250821  0.249636  0.249967  0.249575
 ...                       ...       ...       ...       ...
 2025-08-29 15:35:00  0.250000  0.250000  0.250000  0.250000
 2025-08-29 15:40:00  0.250231  0.250018  0.249897  0.249854
 2025-08-29 15:45:00  0.250000  0.250000  0.250000  0.250000
 2025-08-29 15:50:00  0.250588  0.249627  0.249899  0.249886
 2025-08-29 15:55:00  0.250000  0.250000  0.250000  0.250000

 [1638 rows x 4 columns],
 ticker                   DNUT        EL      SBUX       YUM
 datetime
 2025-08-01 09:30:00  0.070926  0.002787  0.002911  0.001726
 2025-08-01 09:35:00  0.070926  0.002787  0.002911  0.001726
 2025-08-01 09:40:00  0.070926  0.002787  0.002911  0.001726
 2025-08-01 09:45:00  0.074548  0.002932  0.003049  0.001811
 2025-08-01 09:50:00  0.074548  0.002932  0.003049  0.001811
 ...                       ...       ...       ...       ...
 2025-08-29 15:35:00  2.970910  0.114232  0.119958  0.071624
 2025-08-29 15:40:00  2.970910  0.114232  0.119958  0.071624
 2025-08-29 15:45:00  2.963447  0.114649  0.120069  0.071816
 2025-08-29 15:50:00  2.963447  0.114649  0.120069  0.071816
 2025-08-29 15:55:00  2.964642  0.115013  0.120015  0.071931

 [1638 rows x 4 columns])

In [16]:
# AnalyticsBase
# RiskBase 
#    VaRAnalytics
# PerformanceBase